

{% extends "WCPC2K18Bundle:Default:index.html.twig" %}
 {% block contenu %}




    <head>
        <meta charset="utf-8">
        <title> Les compétitions </title>
    </head>
        
    <body>
	 
	
        <table class="table table-bordered" >
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Lieu</th>
                </tr>
            </thead> 
            <tbody>
                {% for competition in competitions %}
                    <tr>
                        <td> {{ competition.Nom }}  </td>
                        <td> {{ competition.Date|date("m/d/Y")  }}  </td>
                        <td> {{ competition.Lieu  }}  </td>
                    </tr>    
                {% endfor %}
            </tbody> 
        </table>
            
    </body>
    
     
 {% endblock %}

