{# empty Twig template #}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title> La compétition </title>
    </head>
        
    <body>
	 
	<p> Sous la contrainte, maitre Zins nous a obligé à écrire une application de pronostics. Et nous voila entrain de coder comme jamais, coder comme jamais</p>
        <table>
            <thead>
                <tr>
                    <th>Nom</th>
                    <th>Date</th>
                    <th>Lieu</th>
                </tr>
            </thead> 
            <tbody>
                {% for competition in competitions %}
                    <tr>
                        <td> {{ competition.Nom }}  </td>
                        <td> {{ competition.Date|date("m/d/Y")  }}  </td>
                        <td> {{ competition.Lieu  }}  </td>
                    </tr>    
                {% endfor %}
            </tbody> 
        </table>
            
    </body>
</html>