{% extends "WCPC2K18Bundle:Default:index.html.twig" %}

 {% block contenu %}
 
    {# <div class="container-fluid">
         <div class="row">
             <div class="col-sm-12 col-lg-7" style="background-color: red">Texte</div>
             <div class="col-sm-12 col-lg-5" style="background-color: blue">Texte</div>
         </div>
     </div>
     #}
     
<div class="jumbotron text-center bg-success" style="margin-bottom:0">
  <h1>Coupe du Monde FIFA RUSSIA 2018 : Concours de pronostics </h1>
   
</div>

<nav class="navbar navbar-expand-sm bg-success navbar-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="collapsibleNavbar">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Link</a>
      </li>    
    </ul>
  </div>  
</nav>

<div class="container-fluid">
         <div class="row">
             <div class="col-sm-12 col-lg-7" style="background-color: red">Texte</div>
             <div class="col-sm-12 col-lg-5" style="background-color: blue">Texte</div>
         </div>
     </div>
    
    
<div class="jumbotron text-center" style="margin-bottom:0">
  <p>Footer</p>
</div>

</body>
  
 
 {% endblock %}
